<footer class="m-0 mt-5 bg-dark row p-3">
    <div class="col-md-4 col-12">
        <h3 class="text-light  w-50 fw-bolder border-bottom">ارتباط با ما</h3>
        <p class="text-light">
            <i class="fa fa-phone"></i>
            09151964073
        </p>
        <p class="text-light">
            <i class="fa fa-message"></i>
            hoseinpoudineh4073@gmail.com
        </p>
    </div>
    <div class="col-md-4 col-12">
        <h3 class="text-light w-50 fw-bolder border-bottom">copyright</h3>
        <p class="text-light">
            <i class="fa fa-copyright"></i>
            hamondiag.ir
        </p>
    </div>
</footer>