{% load static %}
<header class="mt-4">
    <div>
        <section id="btn-hambur-section" class="hide flex-disply">
            <i class="fa fa-bars"></i>
        </section>
        <section id="navbar-links-section">
            <ul>
                <li>
                    <a data-toggle="tooltip" data-placement="top" title="خانه"
                       href="{% url 'product:main' %}" class="link">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'product:cart' %}" class="link" data-toggle="tooltip" data-placement="bottom" title="سبد خرید">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blogs' %}" class="link" data-toggle="tooltip" data-placement="bottom" title="مقالات">
                        <i class="fa fa-book"></i>
                    </a>
                </li>
                <li>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="link" data-toggle="tooltip" title="پروفایل">
                        <i class="fa fa-user"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}" class="link" data-toggle="tooltip" title="ورود | ثبت نام">
                        <i class="fa fa-user"></i>
                        </a>
                    {% endif %}
                </li>
                {% if request.user.is_staff %}
                    <li>
                    <a href="{% url 'settings:settings' %}" class="link" data-toggle="tooltip" data-placement="bottom" title="تنظیمات">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </section>
        <section id="band-section">
            <img id="brand-section" src="{% static 'images/final.svg' %}">
        </section>
        <section id="user-icon-section-mobile" class="hide flex-disply">
            <a href="{% url 'login' %}">
                <i class="fa fa-user"></i>
            </a>
        </section>
    </div>
    <section id="link-section-mobile" class="hide">
        <ul>
            <li>
                <a href="{% url 'product:main' %}" class="link">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'product:cart' %}" class="link">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'blogs' %}" class="link" data-toggle="tooltip" data-placement="bottom" title="مقالات">
                    <i class="fa fa-book"></i>
                </a>
                </li>
            {% if request.user.is_staff %}
                    <li>
                    <a href="{% url 'settings:settings' %}" class="link" data-toggle="tooltip" data-placement="bottom" title="تنظیمات">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                {% endif %}
        </ul>
    </section>
</header>