<header>
    <section id="btn-hambur-section" class="hide">
        <i class="fa fa-bars"></i>
    </section>
    <section id="navbar-links-section">
        <ul>
            <li class="link">
                <a>
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="link">
                <a>
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li class="link" id="link-search">
                <a>
                    <i class="fa fa-search"></i>
                </a>
                <input type="text" >
            </li> 
        </ul>
    </section>
    <section id="brand-section">
        LOGO
    </section>
</header>