{% extends 'base.html' %}
{% load humanize %}
{% load tags %}
{% block title %}
    سبد های خرید تکمیل شده
{% endblock %}
{% block content %}
    <div class="container">
    <div class="card my-md-5 my-3">
        <div class="card-body">
            {% for pack in object %}
                <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="h3 border bg-danger text-light p-2 px-3 rounded-3">{{ forloop.counter }}</span>
                        <h5>{{ pack.cart.created |date }}</h5>
                        <button onclick="cartOpen('{{ pack.cart.id }}')" class="btn btn btn-outline-danger fw-bolder">+</button>
                    </div>
                    <div class="hide cart-{{ pack.cart.id }}">
                    <div class="card my-3">
                           <div class="card-body">
                               <div>
                                   <h5 class="d-flex justify-content-between">نام و نام خانوادگی : {{ pack.postinfo.name }}</h5><hr>
                                   <h5 class="d-flex justify-content-between">شماره : {{ pack.postinfo.mobile }}</h5><hr>
                                   <h5 class="d-flex justify-content-between">شماره ضروری : {{ pack.postinfo.mobile_2 }}</h5><hr>
                                   <h5 class="d-flex justify-content-between">  استان : {{ pack.postinfo.state }} </h5><hr>
                                   <h5 class="d-flex justify-content-between">شهر : {{ pack.postinfo.city }} </h5><hr>
                                   <h5 class="d-flex justify-content-between">  کد پستی : {{ pack.postinfo.code_post }}</h5><hr>
                                   <h5 class="d-flex justify-content-between">آدرس : {{ pack.postinfo.address }}</h5>
                               </div>
                           </div>
                       </div>
                        <div class="card my-2">
                    <table class="table card-body">
                        <thead>
                        <tr>
                            <td class="text-center fw-bolder">محصول</td>
                            <td class="text-center fw-bolder">قیمت</td>
                            <td class="text-center fw-bolder">تعداد</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pack in pack.cart.cart_products.all %}
                        <tr>
                        <td class="text-center">{{ pack.product.name }}</td>
                        <td class="text-center">{{ pack.product.price |intcomma }}</td>
                        <td class="text-center">{{ pack.count }}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}