{% extends 'base.html' %}
{% load widget_tweaks %}
{#{% block title %}#}
{#    محصول#}
{#{% endblock %}#}
{% block content %}
    <div class="container">
    <div class="card my-4 shadow">
        <form method="post" enctype="multipart/form-data" class="card-body">
        {% csrf_token %}
        {% for field in form %}
            {% render_field field class="form-control my-2" placeholder=field.label %}
        {% endfor %}
        <button class="btn btn-outline-danger form-control" type="submit">افزودن</button>
    </form>
    </div>
    <div class="card">
        <div class="card-body">
            {% for object in objects %}
            <li class="card my-2">
                <div class="d-flex p-2 justify-content-between align-items-center">
                    <p class="fw-bolder h5">{{ object }}</p>
                    <form method="post" action="{% url url slug=object.slug %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" type="submit">delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}