.btn-group{
    direction: ltr;
}.product{
    border-radius: 25px !important;
}.discount{
    position: relative;
    overflow: hidden;
}.bar-discount{
    background-color: rgb(255, 0, 0);
    width: 230px;
    height: 30px;
    rotate: -45deg;
    position: absolute;
    left: -50px;
    color: white;
    top: 35px;
}