{% extends 'base.html' %}
{% load tags %}
{% load humanize %}
{% block title%}
سبد خرید
{% endblock %}
{% block content %}
<div class="container">
   <div class="card my-md-5 my-3 ">
      {% if cart.cart_products.all %}
           <div class="card-body">
           <table class="table p-3" >
           <thead>
           <tr class="row">
               <th class="text-center fw-bolder small col">
                   <small>محصول</small>
               </th>
               <th class="text-center fw-bolder small col">
                   <small>تعداد</small>
               </th>
               <th class="text-center fw-bolder small col">
                   <small>قیمت</small>
               </th>
               <th class="text-center fw-bolder small col">
                   <small>مجموع</small>
               </th>
               <th class="text-center fw-bolder small col">
                   <small>@</small>
               </th>
           </tr>
           </thead>
           <tbody>
           {% for pack in cart.cart_products.all %}
               <tr class="row">
               <td role="col" class="text-center col p-2 small">
                   <small>{{ pack.product.name |name_title }}</small>
               </td>
               <td role="col" class="text-center col p-2 small">
                   <small>{{ pack.count }}</small>
               </td>
               <td role="col" class="text-center col p-2 small">
                   <small>{{ pack.product |discount_price |intcomma }}</small>
               </td>
               <td role="col" class="text-center col p-2 small">
                   <small>{{ pack | product_total |intcomma  }}</small>
               </td>
               <td role="col" class="text-center col p-2 small">
                   <small class="btn-group flex-row-reverse p-2">
                       <a href="{% url 'product:product' pack.product.slug 'add' %}" class="btn btn-sm btn-outline-danger fw-bolder">+</a>
                       <a href="{% url 'product:product' pack.product.slug 'remove' %}" class="btn btn-sm btn-outline-danger">-</a>
                    </small>
                </td>
                </tr>
           {% endfor %}
           </tbody></table>
           </div>
          <h4 class="fw-bold">مجموع کل :  {{ total |intcomma }} تومان</h4>
          <a href="{% url 'product:complete-cart' %}" class="btn btn-primary fw-bold">تکمیل خرید</a>
      {% else %}
          <h2 class="p-5 text-center">سبد خرید شما خالی می باشد</h2>
      {% endif %}
   </div>
</div>
{% endblock %}