{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% load humanize %}
{% load thumbnail %}
{#{% block title %}#}
{#    هامون دیاگ#}
{#{% endblock %}#}
{% block link %}
    <link rel="stylesheet" href="{% static 'product/products.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
       {% if settings.poster %}
           <div class="col-12 w-100 my-md-4 my-3 text-center">
           <img src="{{ settings.poster.url }}" class="img-fluid rounded-3">
           </div>
       {% endif %}
        <div class="col-12 w-100">
            <div class="card my-3 shadow sticky-md-top">
               <button id="btn-category" class="hide btn btn-outline-secondary">دسته بندی ها</button>
                <nav class="card-body p-0 my-1">
                    <nav class="row  list-unstyled list-group m-1 list-group-horizontal justify-content-center" id="categorys">
                        <a href="?d=true" class="text-decoration-none col-md-2 btn-outline-secondary my-1 text-center btn col-12">تخفیف ها</a>
                    {% for category in categorys %}
                        <a href="?c={{ category.slug }}" class="text-decoration-none m-1 col-12 col-md-2 text-center btn btn-outline-secondary">{{ category.name }}</a>
                    {% endfor %}
                    </nav>
                </nav>
                <nav class="card-body hide" id="categorys-mobile">
                    <nav class="row  list-unstyled list-group m-1 list-group-horizontal justify-content-center" id="categorys">
                        <a href="?d=true" class="text-decoration-none col-md-2 btn-outline-secondary my-1 text-center btn col-12">تخفیف ها</a>
                    {% for category in categorys %}
                        <a href="?c={{ category.slug }}" class="text-decoration-none m-1 col-12 col-md-2 text-center btn btn-outline-secondary">{{ category.name }}</a>
                    {% endfor %}
                    </nav>
                </nav>
            </div>
        </div>
        <div class="col-12">
            {% if most_sells %}
                <div class="m-auto shadow text-center mt-3 rounded p-3 row">
                <div>
                    <h1 class="text-danger fw-bold border-bottom border-danger pb-2 w-25 text-center">پرفروش ترین </h1>
                </div>
                {% for product in most_sells %}
                <div class="col-lg-3 col-12 col-sm-4 ">
                    <div class="{% if product.discount  %}discount{% endif %} card m-2 shadow rounded-3 p-2 product">
                        {% if product.discount %}
                        <div class="bar-discount fw-bolder">
                            {{ product.discount }}درصد تخفیف
                        </div>
                        {% endif %}
                        {% thumbnail product.image "250x200" crop="center" as img %}
                            <img class="img-responsive w-100 rounded-3" src="{{ img.url }}">
                            {% endthumbnail %}
                        <h4>{{ product.name |name_cut }}</h4>
                        <div class="product-price text-muted ">
                            <small>
                                {% if product.price %}
                                    {{ product | discount_price | intcomma}} تومان
                                    {% else %}
                                    جهت خرید لطفا تماس بگیرید
                                {% endif %}
                            </small>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'product:product' product.slug 'add' %}" class="btn btn-outline-primary"> خرید</a>
                            {% if request.user.is_staff %}
                            <a href="{% url 'settings:product-update' product.slug %}" class="btn btn-outline-warning"> تغییر</a>
                            {% endif %}
                            <a href="{% url 'product:product-detail' product.slug %}" class="btn btn-outline-danger">مشاهده</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="m-auto shadow text-center mt-3 rounded p-3 row">
                {% for product in products %}
                <div class="col-lg-4 col-12 col-sm-6 ">
                    <div class="{% if product.discount  %}discount{% endif %} card m-2 shadow rounded-3 p-2 product">
                        {% if product.discount %}
                        <div class="bar-discount fw-bolder">
                            {{ product.discount }}درصد تخفیف
                        </div>
                        {% endif %}
                        {% thumbnail product.image "250x200" crop="center" as img %}
                            <img class="img-responsive w-100 rounded-3" src="{{ img.url }}">
                            {% endthumbnail %}
                        <h4>{{ product.name |name_cut }}</h4>
                        <div class="product-price text-muted ">
                            <small>
                                {% if product.price %}
                                    {{ product | discount_price | intcomma}} تومان
                                    {% else %}
                                    جهت خرید لطفا تماس بگیرید
                                {% endif %}
                            </small>
                        </div>
                        <div class="btn-group">
                            <a href="{% url 'product:product' product.slug 'add' %}" class="btn btn-outline-primary"> خرید</a>
                            {% if request.user.is_staff %}
                            <a href="{% url 'settings:product-update' product.slug %}" class="btn btn-outline-warning"> تغییر</a>
                            {% endif %}
                            <a href="{% url 'product:product-detail' product.slug %}" class="btn btn-outline-danger">مشاهده</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container text-center">
    <div class="btn-group  w-50 m-auto my-3">
        {% if products.has_previous %}
        <a class="btn btn-outline-danger" href="?p={{ products.previous_page_number }}">قبلی</a>
    {% endif %}
    <a class="btn btn-outline-danger" href="?p={{ products.number }}">{{ products.number }}</a>
    {% if products.has_next %}
        <a class="btn btn-outline-danger" href="?p={{ products.next_page_number }}">بعدی</a>
    {% endif %}
    </div>
    </div>
{% endblock %}