{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load tags %}
{% block title %}
    {{ product.name | name_title}}
{% endblock %}
{% block content %}
    <div class="container my-4">
        <div class="card w-75 m-auto p-3">
            <div class="row">
                <div class="col-12 col-md-8">
                    {% thumbnail product.image "300x200" crop="center" as img %}
                    <img src="{{ img.url }}" class="img-responsive w-100 rounded-3">
                    {% endthumbnail %}
                </div>
                <div class="card-body col-12 col-md-4">
                    <h4 class="text-danger fw-bolder">{{product.name}}</h4>
                    <h4 class="text-danger">{{ product | discount_price | intcomma}} تومان 
                        {% if product.discount %}
                            {{product.discount}} تخفیف
                        {% endif %}
                    </h4>
                    <button class="btn btn-outline-danger">افزودن به سبد خرید</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}