{% extends 'base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load tags %}
{% block title %}
    {{ product.name | name_title}}
{% endblock %}
{% block content %}
    <div class="container-md my-4">
        <div class="container-md">
            <div class="card m-auto p-3">
            <div class="row">
                <div class="col-12 align-items-center d-flex">
                    {% thumbnail product.image "300x200" crop="center" as img %}
                    <img src="{{ img.url }}" class="img-responsive w-100 rounded-3">
                    {% endthumbnail %}
                </div>
                {% if product.images.all %}
                    <div class="col-12 p-3">
                        <div class="row">
                            {% for obj in product.images.all %}
                            {% thumbnail obj.image "200x150" crop="center" quality=100 as img %}
                            <img src="{{ img.url }}" class="col-6 my-1 col-md-3 rounded-2">
                            {% endthumbnail %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="card-body col-12">
                    <h4 class="text-danger fw-bolder">{{product.name}}</h4>
                    <h4 class="text-danger">
                        {% if product.price %}
                            {{ product | discount_price | intcomma}} تومان
                        {% if product.discount %}
                            {{product.discount}} تخفیف
                        {% endif %}
                            {% else %}
                            جهت خرید لطفا تماس بگیرید
                        {% endif %}
                    </h4>
                    <h6 class="text-muted"> {{ product.description }}</h6>
                    <a href="{% url 'product:product' product.slug 'add' %}" class="btn btn-outline-danger">افزودن به سبد خرید</a>
                    {% if request.user.is_staff %}
                        <a href="{% url 'product:delete-product' product.slug %}" class="btn btn-outline-danger">حذف</a>
                    {% endif %}
                </div>
            </div>
        </div>
            {% if similar_products %}
                <div class="card my-4 m-auto p-3">
                <div class="card-body row">
                    {% for product in similar_products %}
                    <div class="col-lg-4 col-12 col-sm-6 ">
                    <div class="{% if product.discount  %}discount{% endif %} card m-2 shadow rounded-3 p-2 product">
                        {% thumbnail product.image "250x200" crop="center" as img %}
                            <img class="img-responsive w-100 rounded-3" src="{{ img.url }}">
                            {% endthumbnail %}
                        <h4>{{ product.name |name_cut }}</h4>
                        <div class="product-price text-muted ">
                            <small>
                                {% if product.price %}
                                    {{ product | discount_price | intcomma}} تومان
                                    {% else %}
                                    جهت خرید لطفا تماس بگیرید
                                {% endif %}
                            </small>
                        </div>
                        <div class="btn-group flex-row-reverse">
                            <a href="{% url 'product:product' product.slug 'add' %}" class="btn btn-outline-primary"> خرید</a>
                            {% if request.user.is_staff %}
                            <a href="{% url 'settings:product-update' product.slug %}" class="btn btn-outline-warning"> تغییر</a>
                            {% endif %}
                            <a href="{% url 'product:product-detail' product.slug %}" class="btn btn-outline-danger">مشاهده</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}