{% extends 'base.html' %}
{% load tags %}
{% load humanize %}
{% block title %}
    پرداخت نهایی
{% endblock %}
{% block content %}
    <div class="container">
    <div class="card my-3">
        <div class="card-body">
            <div>
                <h5>نام و نام خانوادگی : {{ postinfo.name }}</h5><hr>
                <h5>شماره : {{ postinfo.mobile }}</h5><hr>
                <h5>شماره ضروری : {{ postinfo.mobile_2 }}</h5><hr>
                <h5>  استان : {{ postinfo.state }} </h5><hr>
                <h5>شهر : {{ postinfo.city }} </h5><hr>
                <h5>  کد پستی : {{ postinfo.code_post }}</h5><hr>
                <h5>آدرس : {{ postinfo.address }}</h5>
            </div>
        </div>
    </div>
    <div class="card my-md-5 my-3 ">
           <table class="table card-body">
           <thead>
           <tr>
               <th class="text-center fw-bolder">محصول</th>
               <th class="text-center fw-bolder">تعداد</th>
               <th class="text-center fw-bolder">قیمت</th>
               <th class="text-center fw-bolder">مجموع</th>
           </tr>
           </thead>
           <tbody>
           {% for pack in cart.cart_products.all %}
               <tr id="product-{{pack.product.slug}}">
               <td role="col" class="text-center">{{ pack.product.name }}</td>
               <td role="col" class="text-center count-{{ pack.product.slug }}">{{ pack.count }}</td>
               <td role="col" class="text-center">{{ pack.product |discount_price |intcomma }}</td>
               <td role="col" class="text-center total-price-{{ pack.product.slug }} ">{{ pack | product_total |intcomma  }}</td>
                </tr>
           {% endfor %}
           </tbody></table>
          <h4 class="fw-bold">مجموع کل :  {{ total |intcomma }} تومان</h4>
          <a href="{% url 'product:complete-cart' %}" class="btn btn-primary fw-bold">پرداخت</a>
   </div>
</div>
{% endblock %}