{% extends 'base.html' %}
{% load humanize %}
{% load tags %}
{#{% block title %}#}
{#    خرید های انجام شده#}
{#{% endblock %}#}
{% block content %}
    <div class="container">
    <div class="card my-md-5 my-3">
        <div class="card-body">
            {% for cart in carts %}
                <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="h3 border bg-danger text-light p-2 px-3 rounded-3">{{ forloop.counter }}</span>
                        <h5>{{ cart.created |date }}</h5>
                        <button onclick="cartOpen('{{ cart.id }}')" class="btn btn btn-outline-danger fw-bolder">+</button>
                    </div>
                    <div class="hide cart-{{ cart.id }}">
                        <div class="card my-2">
                    <table class="table card-body">
                        <thead>
                        <tr>
                            <td class="text-center fw-bolder">محصول</td>
                            <td class="text-center fw-bolder">قیمت</td>
                            <td class="text-center fw-bolder">تعداد</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pack in cart.cart_products.all %}
                        <tr>
                        <td class="text-center">{{ pack.product.name }}</td>
                        <td class="text-center">{{ pack.product.price |intcomma }}</td>
                        <td class="text-center">{{ pack.count }}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}