{% extends 'base.html' %}
{% load widget_tweaks %}
{#{% block title %}#}
{#    اطلاعات پستی#}
{#{% endblock %}#}
{% block content %}
    <div class="container my-md-5 my-3">
    <div class="shadow-lg rounded">
                <form class="card-body" method="post">
                    {% csrf_token %}
                    <h3 class="fw-bolder text-danger text-center ">اطلاعات پستی</h3>
                    {% for field in form %}
                        <div class="my-1 row p-3">
                        <label class="col-12 h5 text-secondary">{{ field.label }}</label>
                        {% render_field field class="form-control col-12" %}
                        </div>
                    {% endfor %}
                    <div>
                        <button class="btn w-100 btn-outline-primary">ثبت</button>
                    </div>
                </form>
            </div>
    </div>
{% endblock %}