{% extends 'base.html' %}
{% load static %}
{% block title %}
    پروفایل
{% endblock %}
{% block link %}
    <link type="text/css" rel="stylesheet" href="{% static 'authentication/css/auth.css' %}" >
{% endblock %}
{% block content %}
{% if request.user.is_authenticated %}
         <div class="navbar my-4 p-2 border-danger border navbar-md-expand rounded-pill">
    <div class="navbar-nav d-md-flex d-none flex-row-reverse p-3 w-100 btn-group">
        <a href="{% url 'last-carts' %}" class="nav-item nav-link btn btn-outline-danger">خرید های انجام شده</a>
        <a href="{% url 'post-info' %}" class="nav-item nav-link btn btn-outline-danger">اطلاعات پستی</a>
    </div>
    <div class="navbar-nav d-md-none d-flex rounded-pill p-3 w-100">
        <a href="{% url 'last-carts' %}" class="nav-item nav-link btn rounded-pill my-1 btn-outline-danger d-block">خرید های انجام شده</a>
        <a href="{% url 'post-info' %}" class="nav-item nav-link btn rounded-pill my-1 btn-outline-danger d-block">اطلاعات پستی</a>
    </div>
    </div>
    <div class="card border border-danger">
        <div class="card-body d-flex justify-content-between">
            <p class="fw-bold text-danger mb-0 d-flex align-items-center">موبایل : {{request.user.mobile}}</p>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger">خروج</a>
        </div>
    </div>
{% endif %}
{% endblock %}