{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
تایید شماره
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'authentication/css/auth.css' %}">
{% endblock %}
{% block content %}
    <div class="container m-5">
    <form method="post" class="card shadow-lg m-5 p-5">
        {% csrf_token %}
        <h2 class="text-center my-3">کد تایید</h2>
        {% for field in form %}
            {% render_field field class="form-control-lg rounded-pill form-control m-3" %}
        {% endfor %}
    <button class="btn btn-outline-danger btn-lg rounded-pill" type="submit">ورود</button>
    </form>
    </div>
{% endblock %}