<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% include 'includes/links.html' %}
    {% block link %}{% endblock %}
</head>
<body class="body">
{% include 'includes/header.html' %}
{% if messages %}
    {% for message in messages %}
        <div class="d-flex justify-content-between alert alert-{{ message.tags }} mt-3 container" role="alert">
        <div><i class="fa fa-warning"></i>
        {{ message }}</div>
        <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
{% endif %}
<div class="text-center my-5" id="spinner">
    <div class="spinner-border p-5 text-danger"></div>
</div>
<div class="container-fluid hide" id="content">
    {% block content %}{% endblock %}
</div>
{% include 'includes/footer.html' %}
{% include 'includes/scripts.html' %}
{% block script %}{% endblock %}
<script type="application/javascript">
    const spinner = $("#spinner");
    const content = $("#content");
    $.ajax({
        "url":window.location.href,
        success : ()=>{
            spinner.fadeOut(800);
            content.toggle(800);
        }
    })
</script>
</body>
</html>